

$margin: 50px;
$bottom: 50px;

.controller {
    
    &__btn{
        width: 50px;
        height: 50px;
        margin: 10px 10px;
        padding: 0;
        &:active{
            background-color: gray;
            color: white;
        }

        &:focus{
            outline: none;
        }
    }

    @media only screen and (max-width: 400px){
        $margin: 10px;
        .controller__left-btns{
            left: $margin;
        }
        .controller__right-btns{
            right: $margin;
        }
    }

    &__left-btns{
        position: absolute;
        display: flex;
        flex-direction: column;
        bottom: $bottom;
        left: $margin;
    }

    &__right-btns{
        position: absolute;
        display: flex;
        flex-direction: row;
        bottom: $bottom;
        right: $margin;
    }
}