@import "main-menu";
@import "game-over";
@import "controller";
@import "pause";
@import "store";

html, body{
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: 'Avenir';
    color: #ececec;
    background-color: lightblue;
}


button{
    margin: 10px 0px;
    padding: 10px 40px;
    border-radius: 50px;
    width: 300px;
    border: none;
    background-color: #ececec;
    color: gray;
    &:hover{
        cursor: pointer;
    }
    &:focus{
        outline: none;
    }
}